body {
    padding: 0px;
    margin: 0px;
}

div{
    -webkit-app-region: drag;
}

#main-panel
{
    background-color: #82F0D1;
    width: 100vw;
    height: 100vh;
}

#exitButton
{
    height: 2%;
    vertical-align: middle;
    margin-left: 95%;
}

#content {
    display:flex;
}